@media(max-width:700px) {
    .pokemom-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .lista-pokemons {
        height: 450px;

    }

    .cartao .imagem-pokemon {
        max-height: 200px;

    }

    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;

    }

    .cartao .informacoes .vida {
        font-size: 14px;
        
    }
    
}